#calendarMain {
    display: flex;
    flex-wrap: wrap;
    border-right: 1px solid #c5c5c5;
    border-bottom: 1px solid #c5c5c5;
}

#calendarControls {
    display: flex;
    justify-content: center;
    padding: 17px;
}

#calendarControls span{
    position: relative;
    top: 3px;
}

#calendarControls i {
    cursor: pointer;
}

.calendarDay {
    border-left: 1px solid #c5c5c5;
    border-top: 1px solid #c5c5c5;
    position: relative;
    width: calc(100% / 7 - 6px);
    height: 4.8em;
    cursor: pointer;
    padding-left: 5px;
    padding-top: 5px;
}

.calendarDay.header {
    font-weight: bold;
}

.calendarDay.pre {
    color: #00000061;
}

.calendarDay span {
    min-width: 18px;
    text-align: center;
}

.calendarDay.selected {
    background-color: #f3f3f3;
}

.calendarDay.selected span:last-of-type {
    background-color: #ff69b0;
    border-radius: 19px;
    padding: 4px;
    color: white;
    display: block;
    width: 18px;
}

.calendarDay .events div {
    position: relative;
    overflow: hidden;
    font-size: 0.75em;
    border-radius: 2px;
    color: white;
    padding: 2px;
}

.calendarDay .events div.bg_blue {
    background-color: #2962ff;
}