<!--<h5>{{ _date }}</h5>-->
<div id="calendarWrapper">
    <div id="calendarControls">
        <i (click)="monthBack()" class="material-icons">arrow_left</i><span>{{ monthNames[_date.getMonth()]}} {{_date.getFullYear()}}</span><i (click)="monthForward()" class="material-icons">arrow_right</i>
    </div>
    <div id="calendarMain">
        <!--<div class="calendarDay header">
            <span>Mo</span>
        </div>
        <div class="calendarDay header">
            <span>Di</span>
        </div> 
        <div class="calendarDay header">
            <span>Mi</span>
        </div>
        <div class="calendarDay header">
            <span>Do</span>
        </div> 
        <div class="calendarDay header">
            <span>Fr</span>
        </div>
        <div class="calendarDay header">
            <span>Sa</span>
        </div> 
        <div class="calendarDay header">
            <span>So</span>
        </div>       -->
        <div *ngFor="let day of fields" (click)="select(day)" [ngClass]="{'calendarDay':true,'pre':day.pre, 'selected':(day.selected)}">
            <span>{{ day.dayOfWeek ?  day.dayOfWeek : ''}}</span><br *ngIf="day.dayOfWeek">
            <span>{{day.date}}</span>
        </div>
    </div>
</div>