.card {
    max-width: 100% !important;
    width: 100% !important;
    margin-right: 0px !important;
}

#buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 9px;
}

button {
    margin: 5px;
}

input, select {
    display: block;
}

input {
    width: calc(100% - 10px);
}

select {
    width: 100%;
}