<div class="card" id="new-booking-main">
    <h3 class="card-title">Neue Buchung</h3>
    <div *ngIf="ready" style="margin-top: 8px">
        <label>Betreff:</label>
        <input type="text"><br/>
        <label>Von:</label>
        <select [(ngModel)]="booking.creditor" >
            <option *ngFor="let company of companys" [ngValue]="company">{{ company.name }}</option>
        </select><br/>
        <label>An:</label>
        <select [(ngModel)]="booking.debtor" [compareWith]="compareCompanys">
            <option *ngFor="let company of companys" [ngValue]="company">{{ company.name }}</option>
        </select><br/>
        <label>Betrag:</label>
        <input [(ngModel)]="booking.amount" type="number"><br/>
        <label>Datum:</label>
        <input [(ngModel)]="booking.date" type="date"><br/>
        <div id="buttons">
            <button class="cancel">Abbrechen</button>
            <button class="save" (click)="save()">Speichern</button>
        </div>
    </div>
</div>