#main-wrapper {

}

#content {
    position: fixed;
    left: 190px;
    width: calc(100% - 210px);
    padding: 10px;
    background-color: #efefef;
    height: 100%;
    overflow-y: scroll;
}

sidenav {
    height: 100%;
    position: fixed;
    width: 190px;
}

#mobile-menu {
    display: none;
}

@media (max-width: 500px) {
    sidenav {
        display: none;
    }

    #content {
        left: 0px;
        width: 100%;
    }

    #mobile-menu {
        display: flex;
        background-color: #37474f;
        color: white;
        padding-left: 10px;
    }

    #mobile-menu i {
        top: 16px;
        position: relative;
        margin-right: 0px;
    }

    #mobile-menu h3 {
        font-weight: normal;
        font-size: 1.5em;
        margin: 14px;
    }
}