.card {
    background-color: white;
    box-shadow: 0px 0px 5px 0px #c1c1c1;
    padding: 8px;
    border-radius: 2px;
    max-width: 28em;
    margin-right: 8px;
    margin-top: 8px;
}

.card h3 {
    margin: 0;
}

.card .card-title {
    font-weight: normal;
    font-size: 0.7em;
    color: #777777;
}

.card#mails div:not(.span) {
    position: relative;
    top: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-top: 1px solid #dadada;
    cursor: pointer;
}

.card#mails div .span {
    font-size: 0.95em;
    display: inline-block;
}

.card#mails div.from {
    width: 11.5em;
    overflow: hidden;
}