/*
.card#mails div:not(.span) {
    position: relative;
    top: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-top: 1px solid #dadada;
    cursor: pointer;
}
*/
.card#mails div .span {
    font-size: 0.95em;
    display: inline-block;
}

.card#mails div.from {
    width: 11.5em;
    overflow: hidden;
}