h1.greeting {
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}

.card-wrapper h3, h4 {
    margin: 0;
}
/*
.card#mails div:not(.span) {
    position: relative;
    top: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-top: 1px solid #dadada;
    cursor: pointer;
}
*/
.card#mails div .span {
    font-size: 0.95em;
    display: inline-block;
}

.card#mails div.from {
    width: 11.5em;
    overflow: hidden;
}