/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px;
    font-family: Ubuntu;
}

dashboard, articles, events, mails, accounting, subscriptions, newbooking {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.card {
    background-color: white;
    box-shadow: 0px 0px 5px 0px #c1c1c1;
    padding: 8px;
    border-radius: 2px;
    max-width: 28em;
    margin-right: 8px;
    margin-top: 8px;
}

.card h3 {
    margin: 0;
}

.card .card-title {
    font-weight: normal;
    font-size: 0.7em;
    color: #777777;
}

.card .card-actions {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-direction: row;
}

.card .card-actions label {
    padding-top: 9px;
    font-size: 13.3333px;
}

.card#mails div:not(.span) {
    position: relative;
    top: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-top: 1px solid #dadada;
    cursor: pointer;
}

.card#mails div .span {
    font-size: 0.95em;
    display: inline-block;
}

.card#mails div.from {
    width: 11.5em;
    overflow: hidden;
}

label {
    margin-right: 7px;
}

input, select {
    outline: none !important;
    border: 1px solid #dedede;
    border-radius: 1px;
    box-shadow: 0px 0px 6px 0px #80808021;
    padding: 4px;
    margin: 2px;
}

button {
    border: none;
    border-radius: 4px;
    padding: 9px;
    font-weight: bold;
    box-shadow: 0px 0px 9px 0px #efefef;
    outline: none;
    cursor: pointer;
}

button:not(.outline){
    color: white !important;
}

button.save, button.primary {
    background-color: #42a5f5;
    border-color: #42a5f5;
    color: #42a5f5;
}

button.cancel {
    background-color: #c5c5c5
}

button.outline {
    /*border: 1px solid !important;*/
    box-shadow: none;
    background-color: transparent !important;
}

#content {
    position: fixed;
    left: 190px;
    width: calc(100% - 190px);
    padding: 0px;
    background-color: white;
    height: 100%;
    overflow-y: auto;
    box-shadow: 2px 0px 20px 0px #80808017;
}

#content-inner {
    padding: 10px;
}

sidenav {
    height: 100%;
    position: fixed;
    width: 190px;
}

#mobile-menu {
    display: none;
}


@media (max-width: 500px) {
    sidenav {
        display: none;
    }

    #content {
        left: 0px !important;
        width: 100% !important;
    }

    #mobile-menu {
        display: flex !important;
        background-color: #37474f;
        color: white;
        padding-left: 10px;
    }

    #mobile-menu i {
        top: 16px;
        position: relative;
        margin-right: 0px;
    }

    #mobile-menu h3 {
        font-weight: normal;
        font-size: 1.5em;
        margin: 14px;
    }

    .card .card-actions {
        flex-direction: column;
    }
}